
<h1> Booking Page </h1>
<h2>Flight Information </h2>
<h3>From: <%= @flight.from_airport.code %> To: <%= @flight.to_airport.code %>
Date: <%= @flight.date.strftime("%B %d, %Y") %></h3>

<%= form_for(@booking) do |f|%>

<%= f.hidden_field :flight_id, :value => @flight.id %>

<h2> Passenger Information</h2>
<%= f.fields_for :passengers do |passenger_fields| %>
		<b> Passenger <%=passenger_fields.index+1%></b>
		<%= passenger_fields.label :name %>
		<%= passenger_fields.text_field :name %>

		<%= passenger_fields.label :email %>
		<%= passenger_fields.text_field :email %>
		<br>
	<%end%>

<%= f.submit 'submit booking' %>

<%end%>
	



